*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
    list-style-type: none;
    outline: none;
    overflow-y: hidden;
    font-size: 1.1rem;
}

body{
    min-height: 100vh;
    width: 100vw;
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

header {
    height: 10vh;
    width: 100%;
    padding: 5vh 10vw;
    background-color: rgb(42, 127, 255);
    color: white;

    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & li{
        display: inline-block;
        margin: 0 1.2rem;
        padding: 0.4rem 0;
        
    }

        & li:hover{
            color: yellow;
            cursor: pointer;
            border-bottom: 2px solid yellow;
    }
}

footer {
    height: 10vh;
    width: 100%;
    padding: 5vh;
    background-color: rgb(42, 127, 255);
    color: white;

    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}